@charset "UTF-8";
/* CSS Document */

/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	border: none;
}
/*H1 skal opfører sig ordenligt*/
h1{
	font-weight: normal;
	font-size: small;
}

/*Baggrundsfarven*/
body {
	background-color: #afcef8;
}
/*menu - flexbox container*/
#menu {
	display: flex;
	height: 60px;
	align-items: center;
	width: 100%;
	position: center;
	justify-content: center;
}
#menu a {
	width: 50%;
	background-color: rgba(255, 255, 255, 0.25);
	color: white;
	text-decoration: none;
	padding: 36px;
	text-align: center;
	font-family: "helvetica", sans-serif;
	margin: auto;
}
#menu a:hover {
	background: #afcef8;
}
/*Den røde kant*/
#red-box {
	border-bottom: 8px dashed red;
	padding: 15px;
}
/*Portfolio - overskift*/
table.center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	border-collapse: separate;
	border-spacing: 10px;
}
.portfolio {
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*den gule cirkel*/
.gul {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-left: 49%;
}

/*mit navn*/
#navn {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: x-large;
}

/*videre i teksten*/
.gul1 {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-left: 49%;
	margin-top: 500px;
}
.gul2 {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-left: 49%;
	margin-top: 50px;
}
.gul3 {
	height: 25px;
	width: 25px;
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-left: 49%;
	margin-top: 50px;
	margin-bottom: 500px;
}
/*work this*/
.work {
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*work: tekstboks*/
#worktekst {
	background-color: rgba(255, 255, 255, 0.25);
	height: 30%;
	width: 35%;
	font-family: "helvetica", sans-serif;
	padding: 3%;
	margin-left: 5%;
	margin-top: 50px; 
	text-align: left; 
}

/*projects this*/
.projects {
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*Home this*/
.home {
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*contact this*/
.contact {
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}