@charset "UTF-8";
/* CSS Document */

/*CSS reset*/
*{
	margin: 0; 
	padding: 0; 
	border: none; 
}

/*Baggrundsfarven*/
body {
	background-color: #afcef8;
}

/*Den røde kant*/
#red-box {
	border-bottom: 8px dashed red; 
	padding: 15px;
}

/*Portfolio - overskift*/
table.center {
    margin-left:auto; 
    margin-right:auto;
	margin-top: 10%;
	border-collapse: separate; border-spacing: 10px;
  }

.portfolio{
	border: 1px solid #666;
	background-color: white;
	height: 35px;
	width: 35px;
	text-align: center;
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica", sans-serif;
}

/*den gule cirkel*/
#gul {
  height: 25px;
  width: 25px;
  background-color: #FFE910;
  border-radius: 50%;
  display: inline-block;
  position: relative;
text-align: center;
	margin-left: 50%;
}

/*mit navn*/
#navn {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: 150%;
}

